class Config:
    # General config.
    BLOCK_SIZE = 1024
    LOG_DIR = '/var/log/'
    DEFAULT_LOG_LINES = 1000000

    # Embedded webserver config.
    BIND_IP = 'localhost'
    BIND_PORT = 5000

    # Basic auth.
    BASIC_AUTH_ENABLE = False
    BASIC_AUTH_USERS = {
        'user': 'password',
        'user2': 'password2'
    }

    IGNORE_FILE_EXTENSIONS = ['.pdf', '.zip', '.gz', '.xz', '.7z']
