class Config:
    # General config.
    BLOCK_SIZE = 4096  # 4KB block size.
    MAX_MEMORY_ALLOCATION = 4 * 1024 * 1024 * 1024  # 4GB max memory usage.
    LOG_DIR = '/var/log/'
    DEFAULT_LOG_LINES = 1000000
    PROCESSING_TIMEOUT = 25  # Maximum processing time in seconds.

    # Embedded webserver config.
    BIND_IP = 'localhost'
    BIND_PORT = 5000

    # Basic auth.
    BASIC_AUTH_ENABLE = False
    BASIC_AUTH_USERS = {
        'user': 'password',
        'user2': 'password2'
    }

    IGNORE_FILE_EXTENSIONS = ['.pdf', '.zip', '.gz', '.xz', '.7z']
